<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Ionic Audio for Angular 4 / Ionic 3</h2>
  <p>
    This sample project shows you how simple it is to work with the ionic-audio module.
  </p>

  <ion-list>
    <ion-item *ngFor="let track of myTracks">
      <ion-thumbnail item-left>
        <img src="{{track.art}}">
      </ion-thumbnail>
      <h2>{{track.title}}</h2>
      <button ion-button (click)="play(track)">Play</button><button ion-button (click)="add(track)">Add</button>
    </ion-item>
  </ion-list>

<!--  <audio-track #audioTrack [track]="currentTrack" (onFinish)="onTrackFinished($event)">
    <div style="display: flex">
      <button ion-button icon-only (click)="audioTrack.play()"><ion-icon name="play"></ion-icon></button>
      <button ion-button icon-only (click)="audioTrack.pause()"><ion-icon name="pause"></ion-icon></button>
      <audio-track-progress-bar duration progress [audioTrack]="audioTrack" style="width: 100%; margin: 0 10px"></audio-track-progress-bar>
    </div>
    <div [style.visibility]="audioTrack.hasLoaded ? 'visible' : 'hidden'" text-center>Playing <em>{{ audioTrack?.title }}</em></div>
  </audio-track>-->
  
  <audio-track #audioTrack [track]="currentTrack" [autoplay]="true" (onFinish)="onTrackFinished($event)">
      <div style="display: flex">
        <button ion-button icon-only (click)="audioTrack.play()"><ion-icon name="play"></ion-icon></button>
        <button ion-button icon-only (click)="audioTrack.pause()"><ion-icon name="pause"></ion-icon></button>
        <button ion-button icon-only (click)="next()"><ion-icon name="skip-forward"></ion-icon></button>
        <audio-track-progress-bar duration progress [audioTrack]="audioTrack" style="width: 100%; margin: 0 10px"></audio-track-progress-bar>
      </div>
      <div style="display: flex; justify-content: center; height: 50px">
         <div *ngIf="audioTrack && audioTrack.hasLoaded"><em>{{ audioTrack?.title }}</em></div>
         <ion-spinner *ngIf="audioTrack && audioTrack.isLoading"></ion-spinner>
      </div>
  </audio-track>

    <ion-list>
      <ion-list-header no-lines inset>
      Playlist
      </ion-list-header>
      <ion-item *ngFor="let track of trackList; let i = index">
        <h2>{{ track.title }}</h2>
        <p>{{ track.artist }}</p>
        <!--<button ion-button icon-only item-end (click)="pause(track)">
          <ion-icon name="pause"></ion-icon>
        </button>-->
        <button ion-button icon-only item-end (click)="play(track, i)">
          <ion-icon name="play"></ion-icon>
        </button>
      </ion-item>
      
    </ion-list>

</ion-content>