<ion-view view-title="Dynamic tracks">
    <ion-content>
        <button class="button button-assertive" ng-click="playTrack(0)">Play Land of Confusion - Genesis</button>
        <button class="button button-assertive" ng-click="playTrack(1)">Play Tonight, Tonight - Genesis</button>
        <ion-audio-track track="dynamicTrack" toggle-playback="togglePlayback">
            <div class="card">
                <div class="item">
                    <h2>{{dynamicTrack.title}}</h2>

                    <p>{{dynamicTrack.artist}}</p>
                    <ion-audio-controls>
                        <a class="button button-icon icon" ion-audio-play></a>
                        <ion-spinner icon="ios" style="position: relative; top: 8px; left: 4px"></ion-spinner>
                    </ion-audio-controls>
                </div>
                <div class="item item-divider">
                    <ion-audio-progress-bar track="dynamicTrack" display-time></ion-audio-progress-bar>
                </div>
            </div>
        </ion-audio-track>
    </ion-content>
</ion-view>
