<ion-view view-title="More Music">
    <ion-content>
        <ion-audio>
            <ion-audio-track ng-repeat="track in tracks" track="track">
                <div class="card">
                    <div class="item item-stable item-thumbnail-left">
                        <img src="{{track.art}}">
                        <h2>{{track.title}}</h2>
                        <p>{{track.artist}}</p>
                        <ion-audio-play><a class="button button-icon button-stable icon ion-play"></a></ion-audio-play>
                    </div>
                </div>
            </ion-audio-track>
            <div class="card">
                <div class="item item-divider item-stable">
                    <ion-audio-progress-bar display-time display-info></ion-audio-progress-bar>
                </div>
            </div>
        </ion-audio>
    </ion-content>
</ion-view>
