<ion-view view-title="Music">
  <ion-content>
    <button class="button button-assertive" ng-click="stopPlayback()">Stop all</button>
    <ion-audio-track ng-repeat="track in tracks" track="track">
        <div class="card">
            <div class="item">
                <h2>{{track.title}}</h2>

                <p>{{track.artist}}</p>
                <ion-audio-controls>
                    <a class="button button-icon icon" ion-audio-play></a>
                    <ion-spinner icon="ios" style="position: relative; top: 8px; left: 4px"></ion-spinner>
                </ion-audio-controls>
            </div>
            <div class="item item-divider">
                <ion-audio-progress-bar track="track" display-time></ion-audio-progress-bar>
            </div>
        </div>
    </ion-audio-track>
  </ion-content>
</ion-view>
