<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Music Tab -->
  <ion-tab title="Music" icon-off="ion-ios-musical-note" icon-on="ion-ios-musical-note" href="#/tab/music">
    <ion-nav-view name="tabMusic"></ion-nav-view>
  </ion-tab>

  <!-- Music Tab -->
  <ion-tab title="More Music" icon-off="ion-ios-musical-note" icon-on="ion-ios-musical-note" href="#/tab/music2">
    <ion-nav-view name="tabMusic2"></ion-nav-view>
  </ion-tab>

      <!-- Music Tab -->
  <ion-tab title="Dynamic" icon-off="ion-ios-musical-note" icon-on="ion-ios-musical-note" href="#/tab/music3">
    <ion-nav-view name="tabMusic3"></ion-nav-view>
  </ion-tab>
</ion-tabs>
