
<ion-navbar *navbar>
  <ion-title>
    Podcasts
  </ion-title>
</ion-navbar>

<ion-content padding class="page2">
  <ion-list>
    <audio-track #audio *ngFor="let track of myPodcasts"  [track]="track">
      <ion-item>  
        <audio-track-play item-left light [audioTrack]="audio"><ion-spinner></ion-spinner></audio-track-play>
        
        <h3 *ngIf="!audio.error">{{audio.title}}</h3><del *ngIf="audio.error">{{audio.title}}</del>
        <ion-note item-right>
          <audio-track-progress [audioTrack]="audio"></audio-track-progress>
        </ion-note>
      </ion-item>    
    </audio-track>
  </ion-list>
</ion-content>
