
// *** styles for audio slider component 

// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.0.1
// MIT License

$track-color: map-get($colors, primary);
$thumb-color: map-get($colors, primary);

$thumb-radius: 50%;
$thumb-height: 15px;
$thumb-width: 15px;
$thumb-shadow-size: 1px;
$thumb-shadow-blur: 1px;
$thumb-shadow-color: #111;
$thumb-border-width: 1px;
$thumb-border-color: #fff;

$track-width: 100%;
$track-height: 5px;
$track-shadow-size: 2px;
$track-shadow-blur: 2px;
$track-shadow-color: #222;
$track-border-width: 1px;
$track-border-color: #000;

$track-radius: 5px;
$contrast: 5%;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track() {
  width: $track-width;
  height: $track-height;
  cursor: pointer;
  transition: all .2s ease;
}

@mixin thumb() {
  @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
  //border: $thumb-border-width solid $thumb-border-color;
  height: $thumb-height;
  width: $thumb-width;
  border-radius: $thumb-radius;
  background: $thumb-color;
  cursor: pointer;
}

// end audio slider component 

audio-track {

  ion-thumbnail {
    audio-track-play {
        position: absolute;
        top: 0rem;
        display: inline-flex;
          
        .md & {
          @import "../../../node_modules/ionic-angular/components/item/item.md";
          min-width: $item-md-thumbnail-size;
          min-height: $item-md-thumbnail-size;
          margin: ($item-md-padding-right / 2) $item-md-padding-right ($item-md-padding-right / 2) 0;
        }
        
        .ios & {
          @import "../../../node_modules/ionic-angular/components/item/item.ios";
          min-width: $item-ios-thumbnail-size;
          min-height: $item-ios-thumbnail-size;
          margin: ($item-ios-padding-right / 2) $item-ios-padding-right ($item-ios-padding-right / 2) 0;
        }
        
        button {
          width: 100%;
          
          &.light {
            background: map-get($colors, dark);
            color: map-get($colors, light);
            opacity: .8;
          }
          
          &.dark {
            color: map-get($colors, dark);
            opacity: .6;
          }
          
          ion-icon {
            font-size: 3em;
          }
        }
          
    }
  } 

  audio-track-progress {
    em {
      font-size: .8em;
    }
  }


  audio-track-progress-bar{
    display: block; 
    
    
    .ios & { 
      @import "../../../node_modules/ionic-angular/components/item/item.ios";
      //border: solid 1px $list-ios-border-color;
      //border-radius: 5px; 
    }
    
    .md & { 
      @import "../../../node_modules/ionic-angular/components/item/item.md";
      
    }
    
    & > div {        
      width: 0; 
      height: 2px;
      background: yellow;
      border-radius: 5px;      
    }
    
    [type=range] {
      -webkit-appearance: none;
      margin: $thumb-height / 2 0;
      width: $track-width;

      &:focus {
        outline: none;
      }

      &::-webkit-slider-runnable-track {
        @include track();
        //@include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
        background: $track-color;
        //border: $track-border-width solid $track-border-color;
        //border-radius: $track-radius;
      }

      &::-webkit-slider-thumb {
        @include thumb();
        -webkit-appearance: none;
        margin-top: ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
      }
      
      &:focus::-webkit-slider-runnable-track {
        background: lighten($track-color, $contrast);
      }

    }
    
    time {
      font-size: .5em;
    }
  }

  audio-track-progress-slider {
    float: right;
    
    &:after {
      content: '\26AB';
      font-size: 17px;
      margin-top: -11px;
      position: absolute;
      margin-left: -1px;
    }
    
    & > span {
      width: 4px;
      height: 8px;
      margin-top: -3px;
      position: absolute; 
      background: black;
    }
  }
}